src

*.bgn
*.bit
*.bld
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.syr
*.unroutes
*.ut
*.xpi
*.xst

*.xrpt

*_map.map
*_map.mrp
*_map.ncd
*_map.ngm

*_bitgen.xwbt

*.lso

*_pad.csv
*_pad.txt

usage_statistics_webtalk.html

*_summary.xml
*_summary.html
*_usage.xml

*.xreport
webtalk*
xlnx_auto_*

xst
ngo
_xmsgs

